includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths: [src]

    ignoreErrors:
        -
            message: "#^Construct empty\\(\\) is not allowed. Use more strict comparison.$#"
            path: src/ParameterResolver.php
        -
            message: "#^Parameter \\#1 \\$object of function get_class expects object, array<int, string> given.$#"
            path: src/CallableReflection.php
        -
            message: "#^Construct empty\\(\\) is not allowed. Use more strict comparison.$#"
            path: src/Invoker.php
        -
            message: "#^Construct empty\\(\\) is not allowed. Use more strict comparison.$#"
            path: src/ResolverChain.php
